.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 500px;
}
.turn-highlight{
    color: white;
}
.winner-highlight{
    color: yellow;
}
.btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover{
    background-color: #45a049;
}